@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --bright-yellow-crayola: hsl(40, 100%, 50%);
  --medium-turquoise: hsl(172, 48%, 59%);
  --silver-chalice: hsl(0, 0%, 70%);
  --eerie-black-1: hsl(0, 0%, 13%);
  --eerie-black-2: hsl(0, 0%, 15%);
  --eerie-black-3: hsl(228, 10%, 10%);
  --raisin-black: hsl(220, 8%, 14%);
  --granite-gray: hsl(0, 0%, 38%);
  --sonic-silver: hsl(0, 0%, 47%);
  --pistachio_50: hsla(86, 45%, 54%, 0.5);
  --baby-powder: hsl(86, 41%, 97%);
  --light-gray: hsl(0, 0%, 80%);
  --pistachio: hsl(86, 45%, 54%);
  --platinum: hsl(0, 0%, 91%);
  --cultured: hsl(0, 0%, 94%);
  --white-60: hsla(0, 0%, 100%, 0.6);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 18%);

  /**
   * typography
   */

  --ff-oswald: "Oswald", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  --fs-1: 13rem;
  --fs-2: 4rem;
  --fs-3: 3.5rem;
  --fs-4: 3rem;
  --fs-5: 2.4rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * shadow
   */

  --card-shadow: 0 5px 20px -8px hsla(0, 0%, 0%, 0.15);

  /**
   * transition
   */

  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
time,
input,
strong,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

ion-icon {
  pointer-events: none;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

:focus-visible {
  outline-offset: 4px;
}

::selection {
  background-color: var(--white_10);
}

html {
  font-family: var(--ff-roboto);
  color: var(--granite-gray);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  line-height: 1.8;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background-color: var(--pistachio);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.section {
  padding-block: var(--section-padding);
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--btn-bg, var(--pistachio));
  transform: translate(5px, 5px);
  transition: var(--transition-2);
}

.btn:is(:hover, :focus)::after {
  transform: translate(0, 0);
}

.btn-secondary::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--black);
  transform: translate(5px, 5px);
  transition: var(--transition-2);
}

.btn-secondary:is(:hover, :focus)::after {
  transform: translate(0, 0);
  border: 1px solid var(--pistachio);
}

.btn-outline {
  border: 2px solid var(--white);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  height: 1px;
  background-color: var(--white_10);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.deco-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--light-gray);
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-card {
  outline: 3px solid transparent;
}

.service-card:is(:hover, :focus-within) {
  outline-color: var(--pistachio);
}

/*-----------------------------------*\
  #TESTIMONIALS
\*-----------------------------------*/

.testi-text {
  padding-block-end: 30px;
  border-block-end: 1px solid var(--white_10);
  margin-block: 20px;
}

/*-----------------------------------*\
  #INSTA POST
\*-----------------------------------*/

.insta-post-item {
  min-width: 90%;
  scroll-snap-align: center;
}

.insta-post-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
}

.insta-post-list::-webkit-scrollbar {
  display: none;
}

/**
 * responsive for larger than 580px screen
 */

@media (min-width: 580px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 5.5rem;
  }

  /**
   * INSTA POST
   */

  .insta-post-item {
    min-width: 45%;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 7.5rem;
  }

  /**
   * HERO
   */

  .hero {
    background-image: url("./assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  /**
   * INSTA POST
   */

  .insta-post-item {
    min-width: 20%;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-3: 4.4rem;
  }

  /**
  * HEADER
  */

  .navbar-link:is(:hover, :focus) {
    background: none;
  }

  .navbar-list:hover .navbar-link:not(:hover) {
    color: var(--white-60);
  }

  /**
   * HERO
   */

  .hero {
    background-position: center;
  }
}
